@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}
*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
}
.fixed{
  /* border-bottom: 0.1px solid rgb(0,100,120); venom color */
  border-bottom: 0.01px solid #36c9da;
}
.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    /* width: 300px; */
    /* margin-right: 10px; */
}

.bg-image {
  /* background-image: url(./assets/venom.png)!important; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* filter: blur(4px); */
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        #005a64,
        rgb(0,100,120)   
    )!important;
}

.scroll{
  /* background-color: rgb(24, 124, 111); */
  color: aliceblue;
  border-radius: 50%;
  text-align: center;
}
.scroll:hover{
  cursor: pointer;
}
.scroll>b{
  align-self: center;
  position: relative;
  top: 10px;
  font-size: 40px;
  font-weight: 900;
}
.footer{
  background-color: #000;
  color: bisque;
}

.lis>li{
  text-transform: uppercase;
  padding: 0 15px 0 15px;
  margin: 0 15px 0 15px;
  font-family: 'Agency FB',serif,helvetica,'sans-serif';
}

ul>li:hover{
  /* border-bottom: #005a64 2px solid; */
  color: #03a0a0;
}
.arrow_nav {
  color: #03a0a0;
  font-weight: bold;
}